{
    "env": {},
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "@typescript-eslint/no-explicit-any": 0,
        "@typescript-eslint/no-empty-function": 0,

        // allow decrementing for loops i.e. --i
        "for-direction": "off",
        // better to construct all promises and await for them later
        "no-await-in-loop": "error",
        "no-console": [
            "warn",
            {
                "allow": [
                    "warn",
                    "error",
                    "info"
                ]
            }
        ]
    }
}